device iot app.json
[{"id":"2cdd2d5e.7882c2","type":"subflow","name":"getAccessToken","info":"","in":[{"x":40,"y":80,"wires":[{"id":"600d424b.3e3d6c"}]}],"out":[{"x":400,"y":140,"wires":[{"id":"9a74864b.e16188","port":0}]}]},{"id":"600d424b.3e3d6c","type":"file in","z":"2cdd2d5e.7882c2","name":"","filename":"/data/refresh_token","format":"utf8","chunk":false,"sendError":false,"x":190,"y":80,"wires":[["4f0ee16b.9fa2"]]},{"id":"9a74864b.e16188","type":"http request","z":"2cdd2d5e.7882c2","name":"","method":"POST","ret":"obj","url":"https://www.snap4city.org/auth/realms/master/protocol/openid-connect/token/","tls":"","x":240,"y":140,"wires":[[]]},{"id":"4f0ee16b.9fa2","type":"function","z":"2cdd2d5e.7882c2","name":"","func":"msg.payload=\"client_id=nodered&client_secret=943106ae-c62c-4961-85a2-849f6955d404&grant_type=refresh_token&scope=openid profile&refresh_token=\" + msg.payload;\nmsg.headers={\"Content-Type\":\"application/x-www-form-urlencoded\"}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":80,"wires":[["9a74864b.e16188"]]},{"id":"d32d40e1.d05a5","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"524c010f.19cd","type":"inject","z":"d32d40e1.d05a5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":100,"y":140,"wires":[["63fe5b57.846d24"]]},{"id":"31f40e5a.3bcd02","type":"http request","z":"d32d40e1.d05a5","name":"getDataTableRequest","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":460,"y":380,"wires":[["2b793ef5.c76c12","2d77b29e.71a07e"]]},{"id":"2d77b29e.71a07e","type":"json","z":"d32d40e1.d05a5","name":"","property":"payload","action":"","pretty":false,"x":110,"y":920,"wires":[["f5d4cbd2.b91de8","fa74354e.462458","8b0d5b87.892778","44cdd624.7105f8","9c910a47.1a6008","8ede8db3.50d8e","3060cce8.b0fd14"]]},{"id":"f5d4cbd2.b91de8","type":"function","z":"d32d40e1.d05a5","name":"processDataTableResult_model_creation","func":"var model_values=msg.payload.Model.Values;\nvar coord_type=msg.payload.File.coord_type;\nglobal.set(\"context_broker\",msg.payload.Model.context_broker);  \nvar attributes =[];\n\n\nvar params='action=insert&nodered=nodered';\n\n params=params+'&name='+encodeURIComponent(msg.payload.Model.name.split(\" \").join(\"\").replace(\"|\",\"_\"));\n params=params+'&description='+encodeURIComponent(msg.payload.Model.description);\n params=params+'&type='+encodeURIComponent('DataTable');\n params=params+'&format='+encodeURIComponent('json');\n params=params+'&kind='+encodeURIComponent('sensor');\n params=params+'&frequency='+encodeURIComponent('0');\n params=params+'&contextbroker='+encodeURIComponent(msg.payload.Model.context_broker);\n params=params+'&kgenerator='+encodeURIComponent('');\n params=params+'&hc='+encodeURIComponent('');\n params=params+'&hv='+encodeURIComponent('');\n params=params+'&producer='+encodeURIComponent('');\n params=params+'&subnature='+encodeURIComponent(msg.payload.Model.sub_nature);\n //params=params+'&attributes =';\n\nfor (var i = 0; i < model_values.length; i++) {\n\nattributes.push({ \n        \"value_name\" : model_values[i].name.replace(\" \",\"_\"),\n        \"data_type\"  : model_values[i].data_type,\n        \"value_type\" : model_values[i].value_type,\n        \"editable\" : 0,\n        \"value_unit\" : model_values[i].value_unit,\n        \"healthiness_criteria\" : 'refresh_rate',\n        \"healthiness_value\" : 100\n    });\n}\n\nparams=params+'&attributes='+encodeURIComponent(JSON.stringify(attributes));\nmsg.url='https://iotdirectory.snap4city.org/api/model.php?'+params;\nmsg.payload.url=msg.url;\n//msg.headers={};\n//msg.headers['Authorization'] =\"Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJRczF6Wko2REIyTlp0ajB3RlVHNlFfN2JwZGhuRnRFX1NMZFdHb29CSUFFIn0.eyJqdGkiOiI4MjJmN2U4Mi05OTczLTRhMDUtYjYyZC1iNzczYmJiZDY4OTUiLCJleHAiOjE2MTY1NjkyOTcsIm5iZiI6MCwiaWF0IjoxNjE2NTY3NTA0LCJpc3MiOiJodHRwczovL3d3dy5kaXNpdC5vcmcvYXV0aC9yZWFsbXMvbWFzdGVyIiwiYXVkIjoicHJvY2Vzc2xvYWRlci10ZXN0Iiwic3ViIjoiMTllZTkwZWQtY2M4ZC00NDk2LTgyNzEtZWFjY2Q4NWI2ODMyIiwidHlwIjoiQmVhcmVyIiwiYXpwIjoicHJvY2Vzc2xvYWRlci10ZXN0Iiwibm9uY2UiOiIwNmJjZjc5ZjZjOWI1Yzc0MDBiZDQ3OTFkY2ZjYjk0NSIsImF1dGhfdGltZSI6MTYxNjU2NzQ5Nywic2Vzc2lvbl9zdGF0ZSI6IjU3ZTI1NDc4LTA4MDQtNDRkOS1hODhmLTZjYWE0MGI1NjI0YiIsImFjciI6IjEiLCJhbGxvd2VkLW9yaWdpbnMiOltdLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsiQXJlYU1hbmFnZXIiLCJ1bWFfYXV0aG9yaXphdGlvbiJdfSwicmVzb3VyY2VfYWNjZXNzIjp7ImFjY291bnQiOnsicm9sZXMiOlsibWFuYWdlLWFjY291bnQiLCJtYW5hZ2UtYWNjb3VudC1saW5rcyIsInZpZXctcHJvZmlsZSJdfX0sInJvbGVzIjpbInVtYV9hdXRob3JpemF0aW9uIiwiQXJlYU1hbmFnZXIiLCJvZmZsaW5lX2FjY2VzcyJdLCJwcmVmZXJyZWRfdXNlcm5hbWUiOiJtaXJjby1hcmVhbWFuYWdlciIsImVtYWlsIjoiYW5nZUBhbmdlMS5ra2sifQ.Bo0VjoRr9df2ho07MyBzw_uDAFqcSc76AhfLzeCdiIEc_H5gRuq8Lt0D92WHPUhmH5c2tWniZKjkAqSUR7z4X-NzmQPZGajsZUvqDfSnKf-dzpzijnZfKj7vqqu_bHPc5vJM39ha6MiipL00c59nhalcL1cIMfyq9XPABZjqa1HCc0Owce5YhuZk2m9jMfzexglZs_U6Jst0Gjc-C5UuTwcCQLPUCBN6mz7YefqEUmOtICtG3AdIwxQGr6pyKhLAoJcjAmusQwamz2wK_msn1vH_rHLZYs2sG3Ln_XhtCRGnQCWhLLPWccFMlVu0FOc1XP5p2W9nynvb7Wc2csZ_Aw\";\nmsg.complete=true;\n\n//msg.payload=params;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":640,"wires":[["c2841125.38b7b","d0b19441.a292c8"]]},{"id":"2eb5f1ec.ff139e","type":"json","z":"d32d40e1.d05a5","d":true,"name":"","property":"payload","action":"","pretty":false,"x":1450,"y":540,"wires":[["7e4c554a.dbb93c"]]},{"id":"7e4c554a.dbb93c","type":"debug","z":"d32d40e1.d05a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1470,"y":500,"wires":[]},{"id":"c2841125.38b7b","type":"function","z":"d32d40e1.d05a5","name":"composeModelCreationUrl","func":"var at=global.get(\"access_token\");  // this is now available to other nodes\nmsg.url=msg.payload.url;\nmsg.headers={};\nmsg.headers['Authorization']=\"bearer \"+at;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":640,"wires":[["38aa9156.a5d3be"]]},{"id":"6526c9b4.788048","type":"function","z":"d32d40e1.d05a5","name":"composegetDataTableUrl","func":"global.set(\"element_id\",msg.payload.element_id);  // this is now available to other nodes\nvar at=global.get(\"access_token\");  // this is now available to other nodes\n//msg.url='https://processloader.snap4city.org/processloader/datatablemanager_getDataTable.php?elementId='+msg.payload.element_id+'&access_token='+msg.payload.access_token;\nmsg.url='https://processloader.snap4city.org/processloader/datatablemanager_getDataTable.php?elementId='+msg.payload.element_id+'&access_token='+at;\n\n//msg.url='https://processloader.snap4city.org/processloader/datatablemanager_getDataTable.php?elementId=Basic%20Sizes%20of%20Incoming%20Tourism%20of%20the%20Region%20of%20Western%20Greece.xlsx|1617978422&access_token=eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJOZVBpSFRvREtibWZzbl9hREtETGpGTHFKQXluTXNNWjZjS1lMeGRoS29zIn0.eyJqdGkiOiI4OGE0Y2RhMS01NzgyLTRmODAtYmE3Ni04MDcyNmI1ZWVjMDYiLCJleHAiOjE2MTgyNDM1NzcsIm5iZiI6MCwiaWF0IjoxNjE4MjQyMDc3LCJpc3MiOiJodHRwczovL3d3dy5zbmFwNGNpdHkub3JnL2F1dGgvcmVhbG1zL21hc3RlciIsImF1ZCI6InBocC1wcm9jZXNzbG9hZGVyIiwic3ViIjoiYTUwYzAyOTktYmFhZS00ZTI2LTgwODEtMjlkODgwYjBiNzU3IiwidHlwIjoiQmVhcmVyIiwiYXpwIjoicGhwLXByb2Nlc3Nsb2FkZXIiLCJub25jZSI6IjE4M2E1YzdmYzk5ZjExNTdhN2VlOTlkMzFkZWJjMTM4IiwiYXV0aF90aW1lIjoxNjE4MjE3Njk2LCJzZXNzaW9uX3N0YXRlIjoiMDIwNjRlZDItODRkYy00YTZmLTlhODgtZDM5NjZmMWJhOWRmIiwiYWNyIjoiMCIsImFsbG93ZWQtb3JpZ2lucyI6W10sInJlYWxtX2FjY2VzcyI6eyJyb2xlcyI6WyJBcmVhTWFuYWdlciIsInVtYV9hdXRob3JpemF0aW9uIl19LCJyZXNvdXJjZV9hY2Nlc3MiOnsiYWNjb3VudCI6eyJyb2xlcyI6WyJtYW5hZ2UtYWNjb3VudCIsIm1hbmFnZS1hY2NvdW50LWxpbmtzIiwidmlldy1wcm9maWxlIl19fSwicm9sZXMiOlsiQXJlYU1hbmFnZXIiLCJ1bWFfYXV0aG9yaXphdGlvbiIsIm9mZmxpbmVfYWNjZXNzIl0sIm5hbWUiOiJzdXJuYW1lIiwicHJlZmVycmVkX3VzZXJuYW1lIjoicGFvbG8ud2VzdGdyZWVrIiwiZmFtaWx5X25hbWUiOiJzdXJuYW1lIiwiZW1haWwiOiJwYS5vLm4uZS5zLmlAZ21haWwuY29tIn0.cFvOAfq0p6dHiWVisaoDVEyJDQtHt93neG_gE54P-uvB5JbYecqIII0GH7FcjelHZ0RdOjL2ua7N63tuoM_YYcnqyLXqNopMA4vMPQ416DFv4oIFjBTWptFbm8tUhHz3FOK-q03D7XsbykUm2iBgeJXUiCebR6CUjPC-T6k8rp1lcMs-3GS1CNWeSsO3QtWqQR4t1HVtRd5Rs1jLGB9oZrjh81RNCI8BqPnuck-LezUBm4DbhmxkRLt2xFX2Ak6jW2_U8mSqkjvwpCt5te0SErssSbY4A073I80N5y7a9tC0MWfOZGMEA9y7nSY5JIs3aAAIomrjJH8rx0tiVxv4MA';\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":360,"wires":[["31f40e5a.3bcd02","32fe3f91.98b93"]]},{"id":"425e8bcc.b5a294","type":"function","z":"d32d40e1.d05a5","name":"processDataTableResult_device_creation","func":"var devices=msg.payload.Devices;\n//var coord_type=msg.payload.File.coord_type;\nvar output=[];\n//global.set(\"device_count\",msg.payload.Devices.length);  \n//global.set(\"device_index\",0);\n\n// var device_names=[];\n \n//for(var index=0;index<msg.payload.Devices.length;index++){\n//    var device=msg.payload.Devices[index].name.split(\" \").join(\"\");\n//    device_names.push({\"payload\":{\"device_name\":device}});\n//}\n\n//global.set(\"device_names\",device_names);\n\n\nfor(var device_index=0;device_index<msg.payload.Devices.length;device_index++){\n\nvar model=msg.payload.Model.name.split(\" \").join(\"\").replace(\"|\",\"_\");\nvar devicename=msg.payload.Devices[device_index].name.split(\" \").join(\"\");\n//devicename=devicename.split(\".\").join(\"_\");\n\nif(msg.payload.File.coord_type=='file'){\n    \nvar device_output={};\ndevice_output.payload={};    \n    \ndevice_output.payload.devicename=devicename;\ndevice_output.payload.model=model;\n    \nvar latitude=msg.payload.Model.lat;\nvar longitude=msg.payload.Model.lon;    \n\ndevice_output.payload.latitude=latitude;\ndevice_output.payload.longitude=longitude;\n\n}else if(msg.payload.File.coord_type=='row'){\n    \nvar device_output={};\ndevice_output.payload={};    \n    \ndevice_output.payload.devicename=devicename;\ndevice_output.payload.model=model;    \n\ndevice_output.payload.latitude=msg.payload.Devices[device_index].lat;\ndevice_output.payload.longitude=msg.payload.Devices[device_index].lon;    \n\n//coord_type='address'    \n}else if(msg.payload.Devices[device_index].lat!==\"\" && msg.payload.Devices[device_index].lon!==\"\"){\n    \nvar device_output={};\ndevice_output.payload={};    \n    \ndevice_output.payload.devicename=devicename;\ndevice_output.payload.model=model;\n    \ndevice_output.payload.latitude=msg.payload.Devices[device_index].lat;\ndevice_output.payload.longitude=msg.payload.Devices[device_index].lon;  \n}\n\n//node.send(msg);\noutput.push(device_output);\n}\n\nreturn [output];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":920,"wires":[["5dbbfbbb.4e0be4","a9f5a220.eb7dc"]]},{"id":"6c566696.f01818","type":"debug","z":"d32d40e1.d05a5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1830,"y":800,"wires":[]},{"id":"d49b91f5.523bd","type":"iotdirectory-new-device-from-model","z":"d32d40e1.d05a5","name":"","authentication":"","devicename":"","latitude":"","longitude":"","k1":"22e31fe2-0d93-46d7-bb1f-ed2763d5bc6b","k2":"59297638-48a1-4f86-afa4-22fd61880996","model":"","selectedModel":"","staticAttributeList":[],"x":1400,"y":920,"wires":[["5475c9da.1c5008","903ba369.cc59b","77cc9b5f.a889c4"]]},{"id":"5475c9da.1c5008","type":"debug","z":"d32d40e1.d05a5","name":"createDeviceOutput","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1460,"y":840,"wires":[]},{"id":"5dbbfbbb.4e0be4","type":"debug","z":"d32d40e1.d05a5","name":"processFunctionResult","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1000,"y":880,"wires":[]},{"id":"efac13.424553f","type":"function","z":"d32d40e1.d05a5","name":"msgComplete","func":"//var device_count=global.get('device_count');\n//var device_index=global.get(\"device_index\");\n//if(device_count-1==device_index){\n//    msg.complete=true;\n//}else{\n //   global.set(\"device_index\",device_index+1);\n//}\n\nmsg.complete=true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":640,"wires":[["47a82a58.5064f4","822f7634.176688"]]},{"id":"fa74354e.462458","type":"join","z":"d32d40e1.d05a5","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":490,"y":915,"wires":[["425e8bcc.b5a294"]]},{"id":"32fe3f91.98b93","type":"debug","z":"d32d40e1.d05a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","statusVal":"","statusType":"auto","x":220,"y":440,"wires":[]},{"id":"63fe5b57.846d24","type":"subflow:2cdd2d5e.7882c2","z":"d32d40e1.d05a5","name":"","env":[],"x":300,"y":140,"wires":[["6cb003be.e6a01c"]]},{"id":"2b793ef5.c76c12","type":"debug","z":"d32d40e1.d05a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":320,"wires":[]},{"id":"8b0d5b87.892778","type":"join","z":"d32d40e1.d05a5","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":470,"y":1226,"wires":[["1ad91e72.0e98b2","ae10ee64.10ea","85c81494.729198","b253d1ec.84bd5"]]},{"id":"a940ec12.c072","type":"fiware-orion-out","z":"d32d40e1.d05a5","name":"","authentication":"","tls":"cbbe6156.e1aca","service":"1de81c8a.f191e3","entype":"DataTable","enid":"","userk1":"37d87b2d-eb52-446e-b14a-c3ee8fa3e965","passk2":"b6a20ed4-0346-46c3-8047-f24e2a1c346e","tenant":"","servicepath":"","apikey":"","basicAuth":"","x":1510,"y":1460,"wires":[]},{"id":"1ad91e72.0e98b2","type":"function","z":"d32d40e1.d05a5","name":"processDataTableResult_instance_creation_V2","func":"var instances = msg.payload.Instances;\nvar output = [];\n\nfor (var instance_index = 0; instance_index < instances.length; instance_index++) {\n\n    //device_url='http://www.disit.org/km4city/resource/iot/'+msg.payload.Model.context_broker+'/'+'WestGreece'+msg.payload.Devices[instance_index].name.split(\" \").join(\"\");\n    device_url = msg.payload.Devices[instance_index].name.split(\" \").join(\"\");\n\n    var instance = instances[instance_index].Values;\n\n    for (var instance_row_index = 0; instance_row_index < instance.length; instance_row_index++) {\n\n        var instance_row = instance[instance_row_index].split(\"|\");\n        var instance_row_output = {};\n\n        instance_row_output = {\n            \"id\": device_url,\n            \"type\": 'DataTable',\n        };\n\n        for (feature_index = 0; feature_index < instance_row.length; feature_index++) {\n            var address_lon = instance_row[instance_row.length - 1];\n            var address_lat = instance_row[instance_row.length - 2];\n            if (msg.payload.File.coord_type == 'address' && address_lon !== \"\" && address_lat !== \"\") {\n\n                var name = msg.payload.Model.Values[feature_index].name;\n                var type = msg.payload.Model.Values[feature_index].data_type;\n                var value = instance_row[feature_index];\n\n                var attribute = {\n                    \"value\": value,\n                    \"type\": type\n                };\n\t\t\t\t\n                instance_row_output[name] = attribute;\n\n            }else if(msg.payload.File.coord_type != 'address'){\n\t\t\t\tvar name = msg.payload.Model.Values[feature_index].name;\n                var type = msg.payload.Model.Values[feature_index].data_type;\n                var value = instance_row[feature_index];\n\n                var attribute = {\n                    \"value\": value,\n                    \"type\": type\n                };\n                instance_row_output[name] = attribute;\n\t\t\t}\n            output.push(instance_row_output);\n        }\n    }\n}\n\nreturn {\n    \"payload\": {\n        \"instances\": output\n    }\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":1300,"wires":[["361e8d5f.8f4732","3c7753f9.6d6dcc"]]},{"id":"6cb003be.e6a01c","type":"function","z":"d32d40e1.d05a5","name":"composeElementIdListUrl","func":"global.set(\"access_token\",msg.payload.access_token);  // this is now available to other nodes\n\nmsg.url='https://processloader.snap4city.org/processloader/datatablemanager_getProcessList.php?access_token='+msg.payload.access_token;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":180,"wires":[["bcd58e80.607a6","1a4b88bf.0e2c77"]]},{"id":"5a974e5a.a23a2","type":"json","z":"d32d40e1.d05a5","name":"","property":"payload","action":"","pretty":false,"x":970,"y":140,"wires":[["a1e8872f.fdbb08","4cddc0dc.4c72a"]]},{"id":"a1e8872f.fdbb08","type":"function","z":"d32d40e1.d05a5","name":"manageElementIdListToProcess","func":"//msg.payload=msg.payload.element_id;\nvar output=[];\n\nfor(var index=0;index<msg.payload.element_id.length;index++){\n        output.push({\"payload\":{\"element_id\":msg.payload.element_id[index]}});\n    }\n\nreturn [output];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1190,"y":140,"wires":[["6526c9b4.788048"]]},{"id":"e6ab16df.e8d918","type":"http request","z":"d32d40e1.d05a5","name":"createModelRequest","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1320,"y":640,"wires":[["2eb5f1ec.ff139e","efac13.424553f"]]},{"id":"2150ccd7.36c2e4","type":"comment","z":"d32d40e1.d05a5","name":"FLOW: get ElementI IDs to be Processed","info":"","x":200,"y":80,"wires":[]},{"id":"942914a8.113198","type":"comment","z":"d32d40e1.d05a5","name":"FLOW: getDataTableAPI Result","info":"","x":190,"y":280,"wires":[]},{"id":"cd9ebef2.00d97","type":"comment","z":"d32d40e1.d05a5","name":"FLOW: ModelCreation","info":"","x":304,"y":640,"wires":[]},{"id":"9117ef91.afba6","type":"comment","z":"d32d40e1.d05a5","name":"FLOW: DeviceCreation","info":"","x":280,"y":880,"wires":[]},{"id":"b00697d9.6fcb18","type":"comment","z":"d32d40e1.d05a5","name":"FLOW: InstanceCreation","info":"","x":290,"y":1305,"wires":[]},{"id":"4cddc0dc.4c72a","type":"debug","z":"d32d40e1.d05a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":60,"wires":[]},{"id":"bcd58e80.607a6","type":"http request","z":"d32d40e1.d05a5","name":"elementListRequest","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":160,"wires":[["5a974e5a.a23a2"]]},{"id":"d0b19441.a292c8","type":"debug","z":"d32d40e1.d05a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":580,"wires":[]},{"id":"47a82a58.5064f4","type":"debug","z":"d32d40e1.d05a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1610,"y":600,"wires":[]},{"id":"d867f69f.239e28","type":"http request","z":"d32d40e1.d05a5","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":1225,"wires":[["ec0bba07.0955b8","363205f.b99e8fa"]]},{"id":"ae10ee64.10ea","type":"function","z":"d32d40e1.d05a5","name":"composeMakeDevicePublicUrl","func":"var cb=global.get(\"context_broker\"); \nvar at=global.get(\"access_token\");\n//var device_names=global.get(\"device_names\");\nvar outputs=[];\n\n\n\nfor(var device_index=0;device_index<msg.payload.Devices.length;device_index++){\n    var devicename=msg.payload.Devices[device_index].name.split(\" \").join(\"\");\n    //devicename=devicename.split(\".\").join(\"_\");\n    var output={};\n    output.url='https://iotdirectory.snap4city.org/api/device.php?action=change_visibility&visibility=public&contextbroker='+cb+'&token='+at+'&id='+devicename+'&k1=&k2=&nodered';\n    //output.method='POST';\n   // output.payload={};\n   // output.payload.action='change_visibility';\n   // output.payload.visibility='public';\n   // output.payload.contexBroker=cb;\n   // output.payload.token=at;\n   // output.payload.id=devicename;\n    //output.payload.k1='';\n  //  output.payload.k2='';\n    \n    \n    //output.payload='action=change_visibility';\n    outputs.push(output);\n}\n\nreturn [outputs];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1226,"wires":[["d867f69f.239e28","f966b595.eaafb8"]]},{"id":"fb07fb1a.e6a9e8","type":"function","z":"d32d40e1.d05a5","name":"accumulate, then complete","func":"var created = 1 + (context.get('created')||0);\ncontext.set(\"created\",created);\n\nif(msg.payload.Devices) context.set(\"total\",msg.payload.Devices.length);\nvar total = context.get('total')||0;\n\nif( created == total ) return { \"complete\": true }\n    ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":1160,"wires":[["44cdd624.7105f8"]]},{"id":"44cdd624.7105f8","type":"join","z":"d32d40e1.d05a5","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":910,"y":1125,"wires":[["85454edc.ac0f9"]]},{"id":"9c910a47.1a6008","type":"join","z":"d32d40e1.d05a5","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":470,"y":1153,"wires":[["fb07fb1a.e6a9e8"]]},{"id":"77cc9b5f.a889c4","type":"function","z":"d32d40e1.d05a5","name":"msgComplete","func":"msg.complete=true;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1748,"y":921,"wires":[["a5aedeaf.f8585","6c566696.f01818"]]},{"id":"85454edc.ac0f9","type":"function","z":"d32d40e1.d05a5","name":"","func":"msg.complete=true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":1140,"wires":[["8b0d5b87.892778","ddf34e28.e63da"]]},{"id":"1c393dde.44e932","type":"function","z":"d32d40e1.d05a5","name":"accumulate, then complete","func":"var created = 1 + (context.get('created_instances')||0);\ncontext.set(\"created_instances\",created);\n\nif(msg.payload.Devices) context.set(\"total_instances\",msg.payload.Devices.length);\nvar total = context.get('total_instances')||0;\n\nif( created == total ) return { \"complete\": true }\n    ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":1420,"wires":[["361e8d5f.8f4732"]]},{"id":"361e8d5f.8f4732","type":"join","z":"d32d40e1.d05a5","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":890,"y":1400,"wires":[["61aff097.aefa2","84e7a3cc.e062b","81a8b217.21c74"]]},{"id":"61aff097.aefa2","type":"debug","z":"d32d40e1.d05a5","name":"Now Create Instances","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":900,"y":1480,"wires":[]},{"id":"8ede8db3.50d8e","type":"join","z":"d32d40e1.d05a5","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":470,"y":1420,"wires":[["1c393dde.44e932"]]},{"id":"ec0bba07.0955b8","type":"function","z":"d32d40e1.d05a5","name":"complete","func":"return { \"complete\": true }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":1225,"wires":[["8ede8db3.50d8e"]]},{"id":"84e7a3cc.e062b","type":"function","z":"d32d40e1.d05a5","name":"V2","func":"var output=[];\n\nfor(var index=0;index<msg.payload.instances.length;index++){\n\nvar instance_output={};\ninstance_output.payload=msg.payload.instances[index];\n\noutput.push(instance_output);\n}\n\nreturn [output];\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":1420,"wires":[["da7ee777.023f38"]]},{"id":"e5f72b1a.5015d8","type":"debug","z":"d32d40e1.d05a5","name":"OrionInput","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1050,"y":1320,"wires":[]},{"id":"da7ee777.023f38","type":"delay","z":"d32d40e1.d05a5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"6","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1250,"y":1460,"wires":[["9f217141.b2244","f0430da6.148aa","30f78735.91a878"]]},{"id":"9f217141.b2244","type":"debug","z":"d32d40e1.d05a5","name":"DelayOput","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":1360,"wires":[]},{"id":"1a4b88bf.0e2c77","type":"debug","z":"d32d40e1.d05a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":100,"wires":[]},{"id":"512107a9.4658b8","type":"function","z":"d32d40e1.d05a5","name":"composeElementIdUpdateStatusUrl","func":"var element_id = global.get(\"element_id\");  // this should now be \"bar\"\n\n//THE FOLLOWING QUERY to change the status to 'NOT PROCESSED'\n//msg.url=\"https://processloader.snap4city.org/processloader/datatablemanager_updateProcessStatus.php?element_id=\"+msg.payload+\"&status=NO\";\n\n//THE FOLLOWING QUERY to change the status to 'PROCESSED'\nmsg.url=\"https://processloader.snap4city.org/processloader/datatablemanager_updateProcessStatus.php?element_id=\"+element_id+\"&status=model\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":760,"wires":[["f7ec1305.0493c","ecbae74f.b3e108"]]},{"id":"ecbae74f.b3e108","type":"http request","z":"d32d40e1.d05a5","name":"updateElementIdStatus","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":760,"wires":[["77591796.0df9e8","5ed84790.780ff8"]]},{"id":"77591796.0df9e8","type":"function","z":"d32d40e1.d05a5","name":"msgComplete","func":"//var device_count=global.get('device_count');\n//var device_index=global.get(\"device_index\");\n//if(device_count-1==device_index){\n//    msg.complete=true;\n//}else{\n //   global.set(\"device_index\",device_index+1);\n//}\n\nmsg.complete=true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1240,"y":760,"wires":[["fa74354e.462458"]]},{"id":"822f7634.176688","type":"join","z":"d32d40e1.d05a5","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":450,"y":760,"wires":[["512107a9.4658b8"]]},{"id":"fb29d81c.c45c68","type":"comment","z":"d32d40e1.d05a5","name":"FLOW: updateStatus: Model","info":"","x":480,"y":800,"wires":[]},{"id":"f772c51c.f13c48","type":"comment","z":"d32d40e1.d05a5","name":"FLOW: MakeDevicesPublic","info":"","x":270,"y":1221,"wires":[]},{"id":"82e0d31d.f4af4","type":"orion-out-api-v2","z":"d32d40e1.d05a5","name":"","authentication":"","tls":"3f7ca1d3.15f19e","service":"dfc470f4.9da8a","entype":"DataTable","enid":"","userk1":"","passk2":"","tenant":"","servicepath":"","apikey":"","basicAuth":"","x":1220,"y":1540,"wires":[]},{"id":"f7ec1305.0493c","type":"debug","z":"d32d40e1.d05a5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":800,"wires":[]},{"id":"a52ce7a0.9b0d18","type":"function","z":"d32d40e1.d05a5","name":"composeElementIdUpdateStatusUrl","func":"var element_id = global.get(\"element_id\");  // this should now be \"bar\"\n\n//THE FOLLOWING QUERY to change the status to 'NOT PROCESSED'\n//msg.url=\"https://processloader.snap4city.org/processloader/datatablemanager_updateProcessStatus.php?element_id=\"+msg.payload+\"&status=NO\";\n\n//THE FOLLOWING QUERY to change the status to 'PROCESSED'\nmsg.url=\"https://processloader.snap4city.org/processloader/datatablemanager_updateProcessStatus.php?element_id=\"+element_id+\"&status=device\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1020,"wires":[["1a791892.5911d7","b3ee86e.6b0cb78"]]},{"id":"1a791892.5911d7","type":"http request","z":"d32d40e1.d05a5","name":"updateElementIdStatus","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":1020,"wires":[["e818bcae.b21fa","5e6eef30.f86f"]]},{"id":"e818bcae.b21fa","type":"function","z":"d32d40e1.d05a5","name":"msgComplete","func":"return { \"complete\": true }\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":1020,"wires":[["7ce2ea05.8013c4"]]},{"id":"a5aedeaf.f8585","type":"join","z":"d32d40e1.d05a5","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":430,"y":1020,"wires":[["a52ce7a0.9b0d18"]]},{"id":"63eb3c5d.570614","type":"comment","z":"d32d40e1.d05a5","name":"FLOW: updateStatus: Device","info":"","x":271,"y":1013,"wires":[]},{"id":"5e6eef30.f86f","type":"debug","z":"d32d40e1.d05a5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":990,"y":1060,"wires":[]},{"id":"b3ee86e.6b0cb78","type":"debug","z":"d32d40e1.d05a5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":1060,"wires":[]},{"id":"4196c62a.4c40e8","type":"function","z":"d32d40e1.d05a5","name":"composeElementIdUpdateStatusUrl","func":"var element_id = global.get(\"element_id\");  // this should now be \"bar\"\n\n//THE FOLLOWING QUERY to change the status to 'NOT PROCESSED'\n//msg.url=\"https://processloader.snap4city.org/processloader/datatablemanager_updateProcessStatus.php?element_id=\"+msg.payload+\"&status=NO\";\n\n//THE FOLLOWING QUERY to change the status to 'PROCESSED'\nmsg.url=\"https://processloader.snap4city.org/processloader/datatablemanager_updateProcessStatus.php?element_id=\"+element_id+\"&status=YES\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":1620,"wires":[["50b1f5f0.14f56c"]]},{"id":"be411dea.13ecb","type":"http request","z":"d32d40e1.d05a5","name":"updateElementIdStatus","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1270,"y":1620,"wires":[["59498939.839048"]]},{"id":"3b6d7b8a.3a5194","type":"join","z":"d32d40e1.d05a5","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":710,"y":1620,"wires":[["4196c62a.4c40e8"]]},{"id":"fe4afcf6.cf651","type":"comment","z":"d32d40e1.d05a5","name":"FLOW: updateStatus: Instance","info":"","x":290,"y":1680,"wires":[]},{"id":"59498939.839048","type":"debug","z":"d32d40e1.d05a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1490,"y":1620,"wires":[]},{"id":"50b1f5f0.14f56c","type":"debug","z":"d32d40e1.d05a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":1560,"wires":[]},{"id":"1321b636.a07a5a","type":"function","z":"d32d40e1.d05a5","name":"accumulate, then complete","func":"var created = 1 + (context.get('created_instances')||0);\ncontext.set(\"created_instances\",created);\n\n\nif(msg.payload.Instances) {\nvar total_instances=0;    \n    for(var instance_index=0;instance_index<msg.payload.Instances.length;instance_index++){\n        var instance=msg.payload.Instances[instance_index];\n        var instance_count=instance.Values.length;\n        total_instances+=instance_count;\n    }\n    context.set(\"total_instances\",total_instances);\n}\nvar total = context.get('total_instances')||0;\n\nif( created == total ) return { \"complete\": true }\n    ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1620,"wires":[["3b6d7b8a.3a5194"]]},{"id":"3060cce8.b0fd14","type":"join","z":"d32d40e1.d05a5","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":310,"y":1620,"wires":[["1321b636.a07a5a"]]},{"id":"f0430da6.148aa","type":"function","z":"d32d40e1.d05a5","name":"msgComplete","func":"msg.complete=true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":1560,"wires":[["3060cce8.b0fd14"]]},{"id":"3c7753f9.6d6dcc","type":"debug","z":"d32d40e1.d05a5","name":"Now Create Instances","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1260,"y":1280,"wires":[]},{"id":"85c81494.729198","type":"debug","z":"d32d40e1.d05a5","name":"Now Create Instances","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":1340,"wires":[]},{"id":"a9f5a220.eb7dc","type":"delay","z":"d32d40e1.d05a5","name":"","pauseType":"rate","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1090,"y":920,"wires":[[]]},{"id":"363205f.b99e8fa","type":"debug","z":"d32d40e1.d05a5","name":"publicDeviceResult","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1180,"wires":[]},{"id":"30f78735.91a878","type":"debug","z":"d32d40e1.d05a5","name":"Now Create Instances","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1480,"y":1500,"wires":[]},{"id":"f966b595.eaafb8","type":"debug","z":"d32d40e1.d05a5","name":"publicDeviceUrl","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":960,"y":1180,"wires":[]},{"id":"ddf34e28.e63da","type":"debug","z":"d32d40e1.d05a5","name":"completedDevices","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1100,"wires":[]},{"id":"903ba369.cc59b","type":"json","z":"d32d40e1.d05a5","d":true,"name":"","property":"payload","action":"","pretty":false,"x":1450,"y":800,"wires":[["eea70d46.f0e67"]]},{"id":"eea70d46.f0e67","type":"debug","z":"d32d40e1.d05a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1490,"y":740,"wires":[]},{"id":"7ce2ea05.8013c4","type":"delay","z":"d32d40e1.d05a5","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":1100,"wires":[["9c910a47.1a6008"]]},{"id":"38aa9156.a5d3be","type":"debug","z":"d32d40e1.d05a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":400,"wires":[]},{"id":"b253d1ec.84bd5","type":"function","z":"d32d40e1.d05a5","d":true,"name":"processDataTableResult_instance_creation_V1","func":"var instances=msg.payload.Instances;\nvar coord_type=msg.payload.File.coord_type;\nvar output=[];\n\n//payload.Instances[0].Values[0]\n//var model=msg.payload.Model.name.split(\" \").join(\"\").replace(\"|\",\"_\");\n//var devicename=msg.payload.Devices[device_index].name.split(\" \").join(\"\");\n\nfor(var instance_index=0;instance_index<instances.length;instance_index++){\n\n//device_url='http://www.disit.org/km4city/resource/iot/'+msg.payload.Model.context_broker+'/'+'WestGreece'+msg.payload.Devices[instance_index].name.split(\" \").join(\"\"); \ndevice_url=msg.payload.Devices[instance_index].name.split(\" \").join(\"\"); \n\nvar instance=instances[instance_index].Values;\n\nfor(var instance_row_index=0;instance_row_index<instance.length;instance_row_index++){\n    \nvar instance_row=instance[instance_row_index].split(\"|\");    \nvar instance_row_output={};\n\ninstance_row_output.payload = {\n    \"id\": device_url,\n    //\"type\": msg.payload.Model.type,\n    \"type\": 'DataTable',\n    \"attributes\": []\n};\n\nfor(feature_index=0;feature_index<instance_row.length;feature_index++){\n\nvar name=msg.payload.Model.Values[feature_index].name;\nvar type=msg.payload.Model.Values[feature_index].data_type;\nvar value=instance_row[feature_index];\n\nvar attribute={\"name\": name,  \"value\": value, \"type\": type};\n\ninstance_row_output.payload.attributes.push(attribute);\n\n}\noutput.push(instance_row_output);\n}\n\n//node.send(msg);\n\n}\n\n//return [output];\n\n\nreturn {\"payload\": {\"instances\":output}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":1260,"wires":[["3c7753f9.6d6dcc","361e8d5f.8f4732"]]},{"id":"81a8b217.21c74","type":"function","z":"d32d40e1.d05a5","d":true,"name":"V1","func":"var output=[];\n\nfor(var index=0;index<msg.payload.instances.length;index++){\n\nvar instance_output={};\ninstance_output=msg.payload.instances[index];\n\noutput.push(instance_output);\n}\n\nreturn [output];\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":1380,"wires":[["da7ee777.023f38"]]},{"id":"ecb0e73a.90e228","type":"inject","z":"d32d40e1.d05a5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1550,"y":1320,"wires":[["75839816.844548"]]},{"id":"75839816.844548","type":"function","z":"d32d40e1.d05a5","d":true,"name":"","func":"msg.payload={\"id\":\"Roomsforrent2017-2019.xlsx__Achaia_3K\",\"type\":\"TourismService_Travel_information\",\"attributes\":[{\"name\":\"Unity\",\"value\":\"Of Achaia\",\"type\":\"string\"},{\"name\":\"Category\",\"value\":\"3K\",\"type\":\"string\"},{\"name\":\"Units\",\"value\":\"37\",\"type\":\"integer\"},{\"name\":\"Rooms\",\"value\":\"277\",\"type\":\"integer\"},{\"name\":\"Beds\",\"value\":\"641\",\"type\":\"integer\"},{\"name\":\"dateObserved\",\"value\":\"2017-12-30T14:00:00.000+03:00\",\"type\":\"time\"}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1730,"y":1360,"wires":[["a940ec12.c072"]]},{"id":"5ed84790.780ff8","type":"debug","z":"d32d40e1.d05a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":700,"wires":[]},{"id":"cbbe6156.e1aca","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"1de81c8a.f191e3","type":"orion-service","z":"","name":"westgreece_broker","url":"192.168.1.47","port":"8451"},{"id":"3f7ca1d3.15f19e","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"dfc470f4.9da8a","type":"orion-service-api-v2","z":"","contextbroker":"orionGreeceUNISYSTEMS-UNIFI","selectedContextbroker":"orionGreeceUNISYSTEMS-UNIFI","name":"orionGreeceUNISYSTEMS-UNIFI","url":"192.168.1.47","port":"8453"}]