poi iot app.json
[{"id":"98e0463c.bff698","type":"subflow","name":"getAccessToken","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"2a1416c1.b20eaa"}]}],"out":[{"x":380,"y":140,"wires":[{"id":"f4957623.fc91f8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"2a1416c1.b20eaa","type":"file in","z":"98e0463c.bff698","name":"","filename":"/data/refresh_token","format":"utf8","chunk":false,"sendError":false,"x":190,"y":80,"wires":[["cf5b8423.e5bbe8"]]},{"id":"f4957623.fc91f8","type":"http request","z":"98e0463c.bff698","name":"","method":"POST","ret":"obj","url":"https://www.snap4city.org/auth/realms/master/protocol/openid-connect/token/","tls":"","x":240,"y":140,"wires":[[]]},{"id":"cf5b8423.e5bbe8","type":"function","z":"98e0463c.bff698","name":"","func":"msg.payload=\"client_id=nodered&client_secret=943106ae-c62c-4961-85a2-849f6955d404&grant_type=refresh_token&scope=openid profile&refresh_token=\" + msg.payload;\nmsg.headers={\"Content-Type\":\"application/x-www-form-urlencoded\"}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":80,"wires":[["f4957623.fc91f8"]]},{"id":"9ef5b3d.ab18a5","type":"tab","label":"MAIN","disabled":false,"info":""},{"id":"25d45d64.3e22c2","type":"inject","z":"9ef5b3d.ab18a5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":100,"y":140,"wires":[["26d37fd4.bb2d1"]]},{"id":"72b436bd.ab99a8","type":"http request","z":"9ef5b3d.ab18a5","name":"getPOIRequest","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":360,"wires":[["213c9048.1aa6d","fbf12066.9e3f1"]]},{"id":"eb500778.753e08","type":"function","z":"9ef5b3d.ab18a5","name":"composegetDataTableUrl","func":"global.set(\"element_id\",msg.payload.element_id);  // this is now available to other node\n\n\nvar at=global.get(\"access_token\");  // this is now available to other nodes\nvar elid = global.get(\"element_id\"); \n\n//msg.url='https://processloader.snap4city.org/processloader/datatablemanager_getDataTable.php?elementId='+msg.payload.element_id+'&access_token='+msg.payload.access_token;\n//msg.url='https://processloader.snap4city.org/processloader/poimanager_getDataTableList.php?elementId='+msg.payload.element_id+'&access_token='+at;\n\nmsg.url='https://processloader.snap4city.org/processloader/poimanager_getDataTable.php?elementId='+ elid+'&access_token='+at;\n\n//msg.url='https://processloader.snap4city.org/processloader/datatablemanager_getDataTable.php?elementId=Basic%20Sizes%20of%20Incoming%20Tourism%20of%20the%20Region%20of%20Western%20Greece.xlsx|1617978422&access_token=eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJOZVBpSFRvREtibWZzbl9hREtETGpGTHFKQXluTXNNWjZjS1lMeGRoS29zIn0.eyJqdGkiOiI4OGE0Y2RhMS01NzgyLTRmODAtYmE3Ni04MDcyNmI1ZWVjMDYiLCJleHAiOjE2MTgyNDM1NzcsIm5iZiI6MCwiaWF0IjoxNjE4MjQyMDc3LCJpc3MiOiJodHRwczovL3d3dy5zbmFwNGNpdHkub3JnL2F1dGgvcmVhbG1zL21hc3RlciIsImF1ZCI6InBocC1wcm9jZXNzbG9hZGVyIiwic3ViIjoiYTUwYzAyOTktYmFhZS00ZTI2LTgwODEtMjlkODgwYjBiNzU3IiwidHlwIjoiQmVhcmVyIiwiYXpwIjoicGhwLXByb2Nlc3Nsb2FkZXIiLCJub25jZSI6IjE4M2E1YzdmYzk5ZjExNTdhN2VlOTlkMzFkZWJjMTM4IiwiYXV0aF90aW1lIjoxNjE4MjE3Njk2LCJzZXNzaW9uX3N0YXRlIjoiMDIwNjRlZDItODRkYy00YTZmLTlhODgtZDM5NjZmMWJhOWRmIiwiYWNyIjoiMCIsImFsbG93ZWQtb3JpZ2lucyI6W10sInJlYWxtX2FjY2VzcyI6eyJyb2xlcyI6WyJBcmVhTWFuYWdlciIsInVtYV9hdXRob3JpemF0aW9uIl19LCJyZXNvdXJjZV9hY2Nlc3MiOnsiYWNjb3VudCI6eyJyb2xlcyI6WyJtYW5hZ2UtYWNjb3VudCIsIm1hbmFnZS1hY2NvdW50LWxpbmtzIiwidmlldy1wcm9maWxlIl19fSwicm9sZXMiOlsiQXJlYU1hbmFnZXIiLCJ1bWFfYXV0aG9yaXphdGlvbiIsIm9mZmxpbmVfYWNjZXNzIl0sIm5hbWUiOiJzdXJuYW1lIiwicHJlZmVycmVkX3VzZXJuYW1lIjoicGFvbG8ud2VzdGdyZWVrIiwiZmFtaWx5X25hbWUiOiJzdXJuYW1lIiwiZW1haWwiOiJwYS5vLm4uZS5zLmlAZ21haWwuY29tIn0.cFvOAfq0p6dHiWVisaoDVEyJDQtHt93neG_gE54P-uvB5JbYecqIII0GH7FcjelHZ0RdOjL2ua7N63tuoM_YYcnqyLXqNopMA4vMPQ416DFv4oIFjBTWptFbm8tUhHz3FOK-q03D7XsbykUm2iBgeJXUiCebR6CUjPC-T6k8rp1lcMs-3GS1CNWeSsO3QtWqQR4t1HVtRd5Rs1jLGB9oZrjh81RNCI8BqPnuck-LezUBm4DbhmxkRLt2xFX2Ak6jW2_U8mSqkjvwpCt5te0SErssSbY4A073I80N5y7a9tC0MWfOZGMEA9y7nSY5JIs3aAAIomrjJH8rx0tiVxv4MA';\nmsg.Element_id= elid\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":360,"wires":[["72b436bd.ab99a8","24721f7c.0852c"]]},{"id":"24721f7c.0852c","type":"debug","z":"9ef5b3d.ab18a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":300,"wires":[]},{"id":"26d37fd4.bb2d1","type":"subflow:98e0463c.bff698","z":"9ef5b3d.ab18a5","name":"","env":[],"x":330,"y":140,"wires":[["a50c5546.2265f8","5efeb893.501a38"]]},{"id":"213c9048.1aa6d","type":"debug","z":"9ef5b3d.ab18a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":280,"wires":[]},{"id":"a50c5546.2265f8","type":"function","z":"9ef5b3d.ab18a5","name":"composeElementIdListUrl","func":"global.set(\"access_token\",msg.payload.access_token);  // this is now available to other nodes\n\nmsg.url='https://processloader.snap4city.org/processloader/poimanager_getProcessList.php?access_token='+msg.payload.access_token;\n\n\n\n//https://processloader.snap4city.org/processloader/poimanager_getDataTable.php?elementId=\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":140,"wires":[["87b88a22.f7b9c8","c34d1b8f.fa1348"]]},{"id":"7a3a09fc.9ae388","type":"json","z":"9ef5b3d.ab18a5","name":"","property":"payload","action":"","pretty":false,"x":70,"y":280,"wires":[["fd86b892.e8a288","a6dccaf4.2f16c8","d8764441.8dce18"]]},{"id":"a6dccaf4.2f16c8","type":"function","z":"9ef5b3d.ab18a5","name":"manageElementIdListToProcess","func":"//msg.payload=msg.payload.element_id;\nvar output=[];\n\nfor(var index=0;index<msg.payload.element_id.length;index++){\n        output.push({\"payload\":{\"element_id\":msg.payload.element_id[index]}});\n    }\n\nreturn [output];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":220,"wires":[["55ca63f4.3f88fc","eb500778.753e08"]]},{"id":"fd595643.829cc8","type":"comment","z":"9ef5b3d.ab18a5","name":"FLOW: get ElementI IDs to be Processed","info":"","x":140,"y":40,"wires":[]},{"id":"5159ca16.679ce4","type":"comment","z":"9ef5b3d.ab18a5","name":"FLOW: getDataTableAPI Result","info":"","x":970,"y":200,"wires":[]},{"id":"55ca63f4.3f88fc","type":"debug","z":"9ef5b3d.ab18a5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":220,"wires":[]},{"id":"c34d1b8f.fa1348","type":"http request","z":"9ef5b3d.ab18a5","name":"elementListRequest","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":880,"y":140,"wires":[["7a3a09fc.9ae388"]]},{"id":"87b88a22.f7b9c8","type":"debug","z":"9ef5b3d.ab18a5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":60,"wires":[]},{"id":"4f04d618.93c6e8","type":"debug","z":"9ef5b3d.ab18a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":280,"wires":[]},{"id":"fbf12066.9e3f1","type":"json","z":"9ef5b3d.ab18a5","name":"","property":"payload","action":"","pretty":false,"x":710,"y":360,"wires":[["4f04d618.93c6e8"]]},{"id":"fd86b892.e8a288","type":"debug","z":"9ef5b3d.ab18a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":40,"wires":[]},{"id":"318f3c70.bfbff4","type":"comment","z":"9ef5b3d.ab18a5","name":"","info":"if payload.File.coord_type = casea  -> POI have cordinates for each single row\n\nif payload.File.coord_type = caseb  -> POI have coordinates only for the center map","x":980,"y":420,"wires":[]},{"id":"5cc48b22.3e0f14","type":"switch","z":"9ef5b3d.ab18a5","d":true,"name":"","property":"payload.File.coord_type","propertyType":"msg","rules":[{"t":"eq","v":"casea","vt":"str"},{"t":"eq","v":"caseb","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":540,"wires":[["97c821f5.6f77f"],["601d9f56.c282a"]]},{"id":"97c821f5.6f77f","type":"function","z":"9ef5b3d.ab18a5","name":"casea - with GSP coord.","func":"msg.payload =  msg.payload\nglobal.set(\"triples\",\"\");  // this is now available to other node\n\n//var count_POI = flow.get(\"count\")\nfunction toN3(suri,property,value,lang) {\n    if(value) {\n\n        if(lang)\n            return \"<\"+suri+\"> <\"+property+\"> \\\"\"+value+\"\\\"@\"+lang+\" .\\n\";\n        else\n            return \"<\"+suri+\"> <\"+property+\"> \\\"\"+value+\"\\\" .\\n\";\n    }\n    return \"\";\n}\nfunction toN3_property(suri,property1,property2) {\n    return \"<\"+suri+\"> <\"+property1+\"> <\"+property2+\"> .\\n\";\n}\n\nvar km4c=\"http://www.disit.org/km4city/schema#\";\nvar schema=\"http://schema.org/\";\nvar dcterms=\"http://purl.org/dc/terms/\"\nvar skos=\"http://www.w3.org/2004/02/skos/core#\"\nvar geo=\"http://www.w3.org/2003/01/geo/wgs84_pos#\"\nvar xsd=\"http://www.w3.org/2001/XMLSchema#\"\nvar ssn = \"http://www.w3.org/ns/ssn/\"\nvar poiTable = 'http://www.disit.org/km4city/resource/poi/PoiTable'\nvar note = \"http://www.w3.org/2004/02/skos/core#note\"\nvar other = \"http://www.disit.org/km4city/schema#\"\n\n/*\nvar triples \nvar errors=\"\"\nif(!errors){\n    triples = flow.get(\"triples\")+\"\\n\"+n3;\n    flow.set(\"triples\", triples);\n    msg.triples = flow.get(\"triples\")\n}\nelse\n    msg.payload = \"errore\"\n\nmsg.errors = errors\n*/\nvar count_POI=\"\"\nvar n3=\"\"\nvar suri =\"\"\nvar subCategory =\"\"\nvar identifier =\"\"\nvar lat = \"\"\nvar long = \"\"\nvar shortDesc =\"\"\nvar longDesc =\"\"\nvar abbreviation =\"\"\nvar phone = \"\"\nvar secondPhone=\"\"\nvar fax=\"\"\nvar secondFax=\"\"\nvar url =\"\"\nvar email =\"\"\nvar secondEmail =\"\"\nvar refPerson=\"\"\nvar streetAddress = \"\"\nvar civicNumber=\"\"\nvar postalcode=\"\"\nvar city=\"\"\nvar province =\"\"\nvar secondStreetAddress=\"\"\nvar secondCivicNumber=\"\"\nvar timetable=\"\"\nvar photo=\"\"\nvar triples =\"\"\nvar language = \"\"\n\n//TODO\n\nvar notes = \"\"\nvar other1 = \"\"\nvar other2 = \"\"\nvar other3 = \"\"\n\n\nvar modelName = \"\"\n\n\n//-------------------------------------------------\nvar v = msg.payload.Instances\n\nvar model = msg.payload.Model\nlanguage = model.language\n\nif (language===\"\")\n    language ='en'\n    \nfor (i=0; i<v.length; i++){\n    count_POI = flow.get(\"count\")\n    n3=\"\"\n    //---------serviceuri----------------------\n    suri = v[i].Values.suri;\n    \n    //----------------Model--------------------\n    subCategory = model.sub_nature;\n    n3 +=\"<\"+suri+\"> a <\"+km4c+subCategory+\"> .\\n\"\n    \n    modelName = model.name\n    n3 +=toN3(suri,  km4c+\"model\", modelName, \"\")\n//<http://www.disit.org/km4city/resource/poi/WestGreece/Peripheral_Unit_of_Ilia_Olympia_xlsx_ARTI_GRAND> <http://www.disit.org/km4city/schema#model> \"NOME_Mdello\" .\n    n3 += toN3_property(suri, ssn+\"implements\",poiTable) \n//<http://www.disit.org/km4city/resource/poi/WestGreece/Peripheral_Unit_of_Ilia_Olympia_xlsx_ARTI_GRAND> <http://www.w3.org/ns/ssn/implements> <http://www.disit.org/km4city/resource/iot/PoiTable> \n\n    \n    //-----------------Instances--------------------\n    \n    identifier = v[i].Values.name.replace(' ', '_')\n    n3 += toN3(suri, dcterms+\"identifier\", identifier, \"\");\n    n3 += toN3(suri, schema+\"name\", v[i].Values.name, language);\n    lat = v[i].Values.latitude\n    if(lat !==\"\")\n        n3 += \"<\"+suri+\"> <\"+geo+\"lat> \\\"\"+lat+\"\\\"^^<http://www.w3.org/2001/XMLSchema#float> .\\n\";\n    long = v[i].Values.longitude\n    if(long !==\"\")\n        n3 += \"<\"+suri+\"> <\"+geo+\"long> \\\"\"+long+\"\\\"^^<http://www.w3.org/2001/XMLSchema#float> .\\n\";\n        \n    shortDesc = v[i].Values.descriptionShort\n    if(shortDesc !==\"\")\n        n3 += toN3(suri, km4c+\"shortDescription\", shortDesc, language);\n    longDesc =  v[i].Values.descriptionLong\n    if (longDesc!==\"\")\n        n3 += toN3(suri, dcterms+\"description\", longDesc, language);\n    abbreviation = v[i].Values.abbreviation\n    if (abbreviation!==\"\")\n        n3 += toN3(suri, km4c+\"shortName\", abbreviation, language);\n    phone = v[i].Values.phone\n    if (phone!==\"\")\n        n3 += toN3(suri, schema+\"telephone\",phone , \"\");\n    \n    secondPhone = v[i].Values.secondPhone\n    if (secondPhone!==\"\")   \n        n3 += toN3(suri, schema+\"otherTelephone\",secondPhone , \"\");\n    fax = v[i].Values.fax\n    if(fax !==\"\")\n        n3 += toN3(suri, km4c+\"faxNumber\", fax, \"\");\n    secondFax = v[i].Values.secondFax\n    if(secondFax!==\"\")\n        n3 += toN3(suri, km4c+\"otherFaxNumber\", secondFax, \"\");\n\n    url = v[i].Values.url\n    if(url!==\"\")\n        n3 += toN3(suri, schema+\"url\", url, \"\");\n    email = v[i].Values.email\n    if(email!==\"\")\n        n3 += toN3(suri, schema+\"email\", email, \"\");\n    secondEmail = v[i].Values.secondEmail\n    if(secondEmail!==\"\")\n        n3 += toN3(suri, km4c+\"otherEmail\", secondEmail, \"\");\n    refPerson=v[i].Values.refPerson\n    if(refPerson!==\"\")\n        n3 += toN3(suri, km4c+\"referencePerson\", refPerson, \"\");\n        \n    streetAddress = v[i].Values.streetAddress    \n    if(streetAddress!==\"\")\n        n3 += toN3(suri, schema+\"streetAddress\", streetAddress, \"\");\n    \n    civicNumber = v[i].Values.civicNumber\n    if(civicNumber!==\"\")\n        n3 += toN3(suri, km4c+\"houseNumber\", civicNumber, \"\");\n    postalcode = v[i].Values.postalcode\n    if(postalcode!==\"\")\n        n3 += toN3(suri, schema+\"postalCode\", postalcode, \"\");\n    city=v[i].Values.city\n    if(city!==\"\")\n        n3 += toN3(suri, schema+\"addressLocality\", city, \"\");\n    province = v[i].Values.province\n    if(province!==\"\")\n        n3 += toN3(suri, schema+\"addressRegion\", province, \"\");\n    secondStreetAddress = v[i].Values.secondStreetAddress\n    if(secondStreetAddress!==\"\")\n        n3 += toN3(suri, km4c+\"otherStreetAddress\", secondStreetAddress, \"\");\n    secondCivicNumber = v[i].Values.secondCivicNumber\n    if(secondCivicNumber!==\"\")\n        n3 += toN3(suri, km4c+\"otherHouseNumber\", secondCivicNumber, \"\");\n    timetable = v[i].Values.timetable\n    if(timetable)\n        n3 += toN3(suri, schema+\"openingHours\", timetable, \"\");\n    photo = v[i].Values.photo\n    if(photo!==\"\")\n        n3 += toN3(suri, km4c+\"multimediaResource\", photo, \"\");\n    if(notes!==\"\")\n        n3 += toN3(suri, note, notes, \"\");\n    if(other1!==\"\")\n        n3 += toN3(suri, other+'other1', other1, \"\");\n    if(other2!==\"\")\n        n3 += toN3(suri, other+'other2', other2, \"\");\n    if(other3!==\"\")\n        n3 += toN3(suri, other+'other3', other3, \"\");\n        \n    n3 += \"\\n\";\n\n\n    flow.set(\"count\", count_POI-1)\n    msg.payload.restano = flow.get(\"count\")\n    msg.payload.triples = n3//'triple_'+count_POI\n    \n    triples = global.get(\"triples\");\n    global.set(\"triples\",triples+n3);  // this is now available to other node\n    \n    \n    \n    if (flow.get(\"count\")===0){\n        msg.complete=true;\n    }\n        \n    if(lat !==\"\" && long !==\"\"){        \n    node.send(msg);\n    }\n//output.push(device_output);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":500,"wires":[["8609d2e4.32259","8a1a3ff4.7d906"]]},{"id":"601d9f56.c282a","type":"function","z":"9ef5b3d.ab18a5","name":"caseB - without GSP coord. - composing Query for retrieving lat and long","func":"var data = msg.payload \n\nvar addres = \"\"\nvar civic = \"\"\n\n\n//sample\n//http://greece.snap4city.org/ServiceMap/api/v1/location/?search=Παντοκράτορος+31&maxResults=20&excludePOI=true&searchMode=AND&categories=StreetNumber&position=38.2142;21.8176&sortByDistance=true&maxDists=10&format=html\n//superservicemap\n//https://www.disit.org/superservicemap/api/v1/location/?search=Παντοκράτορος+31&maxResults=20&excludePOI=true&searchMode=AND&categories=StreetNumber&position=38.2142;21.8176&sortByDistance=true&maxDists=10\n\n//https://www.disit.org/superservicemap/api/v1/location/?search=Παντοκράτορος+31\n//&maxResults=1&excludePOI=true&searchMode=AND&categories=StreetNumber\n//&position=38.2142;21.8176\n//&sortByDistance=true\n//&maxDists=10\nvar home ='https://www.disit.org/superservicemap/api/v1/location/?search='\n\n//dove position è il centro di ricerca, in questo CASO BOLOGNA\n\n\n//var params = \"&maxResults=1&excludePOI=true&searchMode=AND&categories=StreetNumber&position=\"+position_bologna+\"&sortByDistance=true&maxDists=\"+max_dist\nvar params = \"&maxResults=1&excludePOI=true&searchMode=AND&categories=StreetNumber&position=\"+center_map+\"&sortByDistance=true&maxDists=\"//+max_dist\nvar url = \"\"\n\nvar city_def='Δήμος Πατρέων'\nvar center_map = \"38.2142;21.8176\"//prendere da API\nvar max_dist = 50//prendere da API\nflow.set(\"count\", data.length)\n\nfor(var i = 0; i< data.length;i++){\n    address = encodeURI(data[i].streetAddress)\n    civic = data[i].civicNumber\n    msg.payload_original = data[i]\n    msg.url = home+address+civic+params+max_dist\n    msg.count = flow.get(\"count\").toString()\n    node.send(msg);\n}\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":620,"wires":[["8e73a4d1.40c0e8"]]},{"id":"8609d2e4.32259","type":"debug","z":"9ef5b3d.ab18a5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":480,"wires":[]},{"id":"8e73a4d1.40c0e8","type":"debug","z":"9ef5b3d.ab18a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":560,"wires":[]},{"id":"179b0040.ab492","type":"function","z":"9ef5b3d.ab18a5","name":"","func":"\nflow.set(\"count\", msg.payload.Instances.length)\ncount = flow.get(\"count\")\n\nmsg.payload.count = count\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":360,"wires":[["68d4e7e3.0f4b08","f0e4c63a.d3ced8"]]},{"id":"68d4e7e3.0f4b08","type":"debug","z":"9ef5b3d.ab18a5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":280,"wires":[]},{"id":"ca5c616a.5d15b","type":"e-mail","z":"9ef5b3d.ab18a5","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"pierfrancesco.bellini@unifi.it, ala.arman@unifi.it","dname":"send email ","x":1290,"y":540,"wires":[]},{"id":"e45bd28d.c1af1","type":"function","z":"9ef5b3d.ab18a5","name":"Email adapting","func":"filename = msg.payload.Model.name+\".n3\"\nmsg.topic = \"km4city POI upload \"+filename\nif(!msg.errors) {\n    temp = flow.get(\"triples\")\n    temp = global.get(\"triples\").replace(\"\\\"\\\"\", \"\\\"\")\n    msg.payload = Buffer.from(temp); \n    msg.filename = filename;\n    msg.description = msg.errors\n    \n} else {\n    msg.payload = \"Errors:\\n\"+msg.errors\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":540,"wires":[["8c7a0728.f79e38","ca5c616a.5d15b","a63ba2ab.b3d1b"]]},{"id":"fc63d5a4.cc7f18","type":"comment","z":"9ef5b3d.ab18a5","name":"togliere le \"\" dal file finale","info":"","x":750,"y":1380,"wires":[]},{"id":"8c7a0728.f79e38","type":"debug","z":"9ef5b3d.ab18a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":460,"wires":[]},{"id":"8a1a3ff4.7d906","type":"join","z":"9ef5b3d.ab18a5","name":"","mode":"custom","build":"string","property":"payload.triples","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":790,"y":540,"wires":[["679cd6c4.923d38","e45bd28d.c1af1"]]},{"id":"679cd6c4.923d38","type":"debug","z":"9ef5b3d.ab18a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":480,"wires":[]},{"id":"f0e4c63a.d3ced8","type":"switch","z":"9ef5b3d.ab18a5","name":"","property":"payload.File.status","propertyType":"msg","rules":[{"t":"eq","v":"YES","vt":"str"},{"t":"eq","v":"NO","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":130,"y":420,"wires":[["8085d0e0.c8897"],["5cc48b22.3e0f14","97c821f5.6f77f"]]},{"id":"45e92f.7b1eb6d","type":"debug","z":"9ef5b3d.ab18a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"message","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":420,"wires":[]},{"id":"8085d0e0.c8897","type":"function","z":"9ef5b3d.ab18a5","name":"","func":"var created = msg.payload.Model.name\n\nvar message = \"The dataset with ElementId: \"+created+\" has already been managed!\"\nmsg.message=message\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":420,"wires":[["45e92f.7b1eb6d"]]},{"id":"75a755eb.58b16c","type":"delay","z":"9ef5b3d.ab18a5","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":360,"wires":[["179b0040.ab492"]]},{"id":"5ab85f5f.da895","type":"inject","z":"9ef5b3d.ab18a5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1420,"wires":[["b049e7e0.1c8bb8"]]},{"id":"b049e7e0.1c8bb8","type":"subflow:98e0463c.bff698","z":"9ef5b3d.ab18a5","name":"","env":[],"x":320,"y":1200,"wires":[["bac15a5c.c88b48"]]},{"id":"bac15a5c.c88b48","type":"function","z":"9ef5b3d.ab18a5","name":"composeElementIdListUrl","func":"global.set(\"access_token\",msg.payload.access_token);  // this is now available to other nodes\n\nvar elid = 'GreeceHotels_Patras_EN.xlsx|1623229866'\n\nmsg.url='https://processloader.snap4city.org/processloader/poimanager_updateProcessStatus.php?elementId='+elid+'&status=NO'//&access_token='+msg.payload.access_token;\n\n\n\n//https://processloader.snap4city.org/processloader/poimanager_getDataTable.php?elementId=\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":1260,"wires":[["ad686550.1452d8"]]},{"id":"ad686550.1452d8","type":"debug","z":"9ef5b3d.ab18a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":1200,"wires":[]},{"id":"5efeb893.501a38","type":"debug","z":"9ef5b3d.ab18a5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":60,"wires":[]},{"id":"a63ba2ab.b3d1b","type":"function","z":"9ef5b3d.ab18a5","name":"msgComplete","func":"msg.complete=true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":840,"wires":[["d8764441.8dce18"]]},{"id":"d8764441.8dce18","type":"join","z":"9ef5b3d.ab18a5","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":280,"y":920,"wires":[["d2224b59.0d02f8"]]},{"id":"d2224b59.0d02f8","type":"function","z":"9ef5b3d.ab18a5","name":"accumulate, then complete","func":"var created = 1 + (context.get('created_instances')||0);\ncontext.set(\"created_instances\",created);\n\n\nif(msg.payload.Instances) {\nvar total_instances=0;    \n    for(var instance_index=0;instance_index<msg.payload.Instances.length;instance_index++){\n        var instance=msg.payload.Instances[instance_index];\n        var instance_count=instance.Values.length;\n        total_instances+=instance_count;\n    }\n    context.set(\"total_instances\",total_instances);\n}\nvar total = context.get('total_instances')||0;\n\nif( created == total ) return { \"complete\": true }\n    ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":920,"wires":[["947312a9.11249"]]},{"id":"1203f231.9dec6e","type":"comment","z":"9ef5b3d.ab18a5","name":"when uploaded modify the status","info":"","x":350,"y":980,"wires":[]},{"id":"947312a9.11249","type":"join","z":"9ef5b3d.ab18a5","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":750,"y":920,"wires":[["37245363.72bd6c"]]},{"id":"37245363.72bd6c","type":"function","z":"9ef5b3d.ab18a5","name":"composeElementIdUpdateStatusUrl","func":"var element_id = global.get(\"element_id\");  // this should now be \"bar\"\n\n//THE FOLLOWING QUERY to change the status to 'NOT PROCESSED'\n//msg.url=\"https://processloader.snap4city.org/processloader/datatablemanager_updateProcessStatus.php?element_id=\"+msg.payload+\"&status=NO\";\n\n//THE FOLLOWING QUERY to change the status to 'PROCESSED'\nmsg.url=\"https://processloader.snap4city.org/processloader/poimanager_updateProcessStatus.php?element_id=\"+element_id+\"&status=YES\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":920,"wires":[["b35a7a20.677a18"]]},{"id":"b35a7a20.677a18","type":"http request","z":"9ef5b3d.ab18a5","name":"updateElementIdStatus","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1380,"y":920,"wires":[["f10b2aea.f97848"]]},{"id":"f10b2aea.f97848","type":"debug","z":"9ef5b3d.ab18a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1390,"y":840,"wires":[]}]